*{
	margin: 0 auto;
	padding: 0;
}
.main{
	width: 990px;
}
	.main-top{
		display: inline-block;
		width: 100%;
	    max-width: 990px;
	    margin: 20px  auto;
	    
	}
		.main-top-ul li{
			list-style: none;
			float: left;
			margin-left: 5px;
		}
			.main-top-ul li a:link {text-decoration:none;}
			a{color: #000;}
	.main-left{
		padding-right: 60px;
		border-right: 2px solid #EBEBEB;
		display: inline-block;
		float: left;
		text-align:left;
	}
		.main-left-top{}
			.main-left-h4-div{}
				.main-left-h4{
					border-bottom: 2px solid #000;
	    			color: #000;
	    			font-size: 22px;
				    line-height: 22px;
				    padding-bottom: 14px;
				    margin-bottom: 20px;
				    display: inline-block;
				    padding-left: 14px;
	    			padding-right: 15px;
				}
			
			.main-left-div1{
				margin-bottom: 20px;
			}
			.main-left-div2{
				margin-bottom: 40px;
			}
			.main-left-top-checkbox{
				zoom:200%;
				margin-right: 5px;
				padding-top: 3px;
			}
			.main-left-top-span{
				font-size: 12px
			}
			.main-left-top-searchInput{
				display: inline-block;
			}
			.main-left-top-btn1{}
			.main-left-top-div3{
				font-size: 12px;
	    		color: #000;
			}
			.main-left-top-btn2{}
			
		.main-left-bottom{
			border-top: 1px dashed #C8CBCC;
			display: inline-block;
			margin-top: 20px;
		}
			.main-left-bottom-p1{
				margin: 20px 0;
				font-size: 14px;
				color: #000;
			}
			.main-left-bottom-ul li{
				list-style: none;
				float: left;
				margin-right: 20px;
			}
			.main-left-bottom-ul li a:link{text-decoration:none;}
			.main-left-bottom-p2{
				display: inline-block;
				color: #888888;
				font-size: 12px;
				margin-top: 8px;
			}
			
	.main-right{
		display: inline-block;
		float: left;
		padding-left: 60px;
	}
		.main-right-h4{
			font-size: 18px;
    		color: #000;
    		margin-bottom: 20px;
		}
		.main-right-p{
			font-size: 14px;
    		color: #000;
    		line-height: 18px;
    		margin-bottom: 50px;
		}
		.main-right-ul{
			list-style: none;
		}
			.main-right-ul li{
				margin: 9px 0;
				font-size: 14px;
				color: #000;
			}
				.main-right-ul-il-img{
					margin-right: 14px;
				}
				
				
	
